
.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.row { 
	position: relative;
	width: 500px; 
	margin: 50px auto; 
	padding: 20px; 
	background: white; 
	-moz-box-shadow: 0 0 20px black; 
	-webkit-box-shadow: 0 0 20px black; 
	box-shadow: 0 0 20px black; 
	text-align: center;

}

.header{
	text-align: center;
	
}




img.profile{

	display:block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	width: 380px; /* Width of new image */
	height: 380px; /* Height of new image */
	margin: 0 auto;
	-moz-box-shadow: 0 0 10px black; 
	-webkit-box-shadow: 0 0 10px black; 
	box-shadow: 0 0 10px black; 
}

h1 {
	font-size: 28px;
	font-weight: bold;
}

a .button{
	margin: 0 auto;
	
}

.footer{
	margin-top: 20px;
	
	text-decoration: none;
	text-align: right;

}


ul.share-buttons li{
  display: inline;

}
ul.share-buttons{

	padding:10px;
	margin: 0 auto;
}
p{
	/*text-align: left;*/
}
div.pp{
	float: left;
}